<h1>Wow What a Ryd</h1>
<br>
<h3>Wow What a Ryd</h3>
<br>
<h5>Wow What a Ryd</h5>
<br>
<p>Wow What a Ryd</p>

<br><br>



<%# if Current.user.first_name %>
<!--  <h4>Welcome, <%#= Current.user.first_name %>!</h4>-->
<!--  <br>-->
  <%# else %>
<!--  <h5>Welcome, <%#= Current.user.email_address %>! Please update your profile to include your name and phone number.</h5>-->
<!--  <br>-->
<%# end %>
<br>

<%= link_to "Dashboard", dashboard_path, class: "btn btn-outline-primary" %>