<h1>Wow What a Ryd</h1>
<br>
<h3>Wow What a Ryd</h3>
<br>
<h5>Wow What a Ryd</h5>
<br>
<p>Wow What a Ryd</p>

<br><br>

<%= link_to "Dashboard", dashboard_path, class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-opacity-75-hover" %>