<%= form_with(model: classifieds_car_part) do |form| %>
  <% if classifieds_car_part.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(classifieds_car_part.errors.count, "error") %> prohibited this classifieds_car_part from being saved:</h2>

      <ul>
        <% classifieds_car_part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
