<div class="wrapper" style="position: relative; bottom: 0; left: 50%; transform: translateX(-50%); padding: 10px">
  <div class="card" style="width: 18rem;">
    <div class="d-flex">
      <!-- Text container -->
      <div class="flex-fill">
        <div class="card-body">
          <h5 class="card-title">Wow What a Ryd on Cashapp</h5>
          <p class="card-text">If you'd like to help keep us going and creating new content, click here!</p>
          <%= link_to "Donate Here!", "https://cash.app/$papag479", class: "btn btn-primary stretched-link", target: "_blank" %>
        </div>
      </div>
      <!-- Photo container with its own flex styling -->
      <div class="d-flex flex-column justify-content-center align-items-center" style="min-width: 10rem; padding: 10px;">
        <%= image_tag "cashapp-image.png", alt: "cashapp qr image", style: "width: 10rem; height: auto;" %>
      </div>
    </div>
  </div>
</div>


